

.video-embed {
  position: absolute;
  right: 200px;
  z-index: 5;
  background-color: #333;
  width: 533px;
}

.video-embed h1 {
  float: left;
  font-size: 14px;
  color: #ccc;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.video-embed .close, .video-embed .open {
  float: right;
  font-weight: bold;
  background-color: #222;
  color: white;
  padding: 5px;
  padding-top: 10px;
  cursor: pointer;
  
  height: 20px;
}

.video-embed .close:active,.video-embed .open:active,.video-embed .size:active {
  background-color: #444;
}

.video-embed .close:hover,.video-embed .open:hover,.video-embed .size:hover {
  background-color: #555;
}

.open img, .close img {
  width: 22px;
}

.video-embed .size {
  float: right;
  color: #ccc;
  width: 20px;
  background-color: #222;
  text-align: center;
  font-weight: bold;
  margin: 5px;
  padding: 2px;
  cursor: pointer;
}

.video-embed .size.selected {
  border: 1px solid #fff;
}

#large.size {
  margin-right: 5px;
}


br.clear {
  clear: both;
}

